html{
    scroll-behavior: smooth;
}

/*      ---Home---      */
.Home{
    scroll-behavior: smooth;
}

/*      ---NotFound 404     */
.NotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
}

@media only screen and (max-width:700px){
    .errornf{
        width: 130%;
    }
}