@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

/*      ---Home---      */
.Home{
    scroll-behavior: smooth;
    padding: 50px 150px 0 150px;

}
.modes{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 0.5px white solid;
    border-width: 3px;
    border-style: double;
}
/*      ---NotFound 404     */
.NotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
}

@media only screen and (max-width:700px){
    .errornf{
        width: 130%;
    }
}