@font-face {
    font-family: 'Circular Std';
    src: url(../../res/CIRCULARSTD-MEDIUM.OTF);
}

.header_page{
    font-family: 'Circular Std';
    height: 90px;
    width: auto;
}
.header_menu{
    display: none;
}
.options{
    float: right;
    justify-content: space-around;
    display: flex;
    list-style: none;
    margin-top: 10px;
    color: white;
    top: 50%;

}
.logo{
    float: left;
}
.opt_header{
   padding-left: 40px;
   text-decoration: none;
}
.opt_header:active{
    color: white;
    text-decoration: none;
}
.opt_header:visited{
    color: white;
    text-decoration: none;
}
.opt_header:hover{
    color: #3E82E5;
    text-decoration: none;
}
.opt_header:link{
    color: white;
    text-decoration: none;
}
.hire_me{
    float: right;
    margin-left: 20px;
}
.hire_btn{
    display: flex;
    font-family: 'Circular Std';
    color: white;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 5px;
    height: 35px;
    padding: 10px 15px; 
    cursor: pointer;

}
.hire_btn:hover{
    background-color: #3E82E5;
    color: white;
    border: 1px #3E82E5 solid;
}
.modal_hireme{
    font-family: 'Circular Std';
    display: block;
}
.modal_form{
    display: block;
    width: 100%;
    font-family: 'Circular Std';
    color: #101115;
}
input{
    font-family: 'Circular Std';
    height: 35px;
    margin-bottom: 25px;
    margin-right: 9px;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding-left: 55px;
}
select{
    font-family: 'Circular Std';
    height: 35px;
    margin-bottom: 15px;
    margin-right: 9px;
    border: none;
    border-radius: 4px;
    width: 98%;
    padding-left: 10px;
}
.form_email{
    font-family: 'Circular Std';
    width: 84%;
    background: url('../../assets/icons/mail.png') no-repeat scroll 15px 9.5px;
    background-color: white;
}
.form_nom{
    background: url('../../assets/icons/nom.png') no-repeat scroll 15px 9.5px;
    background-size: 15px;
    background-color: white;
}
.form_pnom{
    padding-left: 15px;
}
.sub_hire{
    font-family: 'Circular Std';
    width: 40%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    margin-right: 10px;
    background-color: #3E82E5;
    color: white;
    box-shadow: 0;
    transition: box-shadow 0.5s;
}
.sub_hire:hover{
    box-shadow: 10px 1px 15px #6596de;
}
.sub_clear{
    font-family: 'Circular Std';
    width: 30%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    color: gray;
}

/*      ---Responsive Header---     */
@media only screen and (max-width:700px) {
    .logo{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 80%;
        white-space: pre;
        float: none;
        display: flex;
    }
    .logo_img{
        width: 190px;
        height: 25px;
    }
    .header_page{
        display: block;
    }
    .hire_me{
        float: right;
        margin-left: 70%;
        position: fixed;
        bottom: 30px;
        align-items: center;
    }
    .hire_btn{
        background-color: #3E82E5;
        color: white;
        border: 1px #3E82E5 solid;
        height: 40px;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    .options{
        display: block;
        float: none;
        width: 450px;
        z-index: 2;
        background-color: #3E82E5;
        font-size: 22px;

    }
    .opt_header{
        padding-left: 10px;
    }
    .testop{
        margin: 0;
        padding: 0;
        float: none;
        display: block;
        position: relative;
    }
    li{
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .header_menu{
        display: block;
        margin-left: 100px;
    }
    .test_web{
        display: none;
    }

  }
