@font-face {
    font-family: 'Circular Std';
    src: url(../res/CIRCULARSTD-MEDIUM.OTF);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*          --TITLE---          */
.Title{
    padding: 70px 0;
    font-family: 'Circular Std';
    height: 400px;
}
.t_btn_contact{
    background-color: #3E82E5;
    color: white;
    width: 230px;
    height: 70px;
    border-radius: 7px;
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border: #3E82E5 1px solid;
    box-shadow: 0;
    transition: box-shadow 0.5s;  
}
.t_btn_contact:hover{
    box-shadow: 2px 2px 70px #3E82E5;
}

/*      ---Carousel---      */

.Carousel{
    display: flex;
    margin: 0 auto;
    height: 320px;
    margin-bottom: 210px;

}
.slide{
    width: 350px;
    height: 350px;
    background-color: #28292F;
    margin-right: 50px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0;
    transition: box-shadow 0.5s;  
    transition: all 0.5s;
    color: white;
}
.slide:hover{
    width: 370px;
    height: 370px;
    box-shadow: 2px 2px 30px #3E82E5;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 100px #000000;
}
.slide_web{
    background-image: url("../assets/images/carousel_web.jpeg");
    background-size: cover;
    background-position:  left; 
}
.slide_mob{
    background-image: url("../assets/images/carousel_mob.png");
    background-size: cover;
    background-position: left; 
}
.slide_desk{
  background-image: url("../assets/images/carousel_desk.png");
  background-size: cover;
  background-position: left; 
}
.slide_bottom{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 8px;
    position: absolute;
    margin-left: 40px;
    margin-bottom: 10px;
    bottom: 0;
}
.slide_bottom h1{
    font-family: 'Circular Std';
    color: #000000;
    overflow: hidden;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
    text-align: left;
}
/*
.slide_bottom h1:hover{
    animation: openclose 15s ease-in-out infinite;
    background-color: #56657F;
    overflow: hidden;
    color: white;
    text-align: left;
}

@keyframes openclose {
    0% {
      top: 0.2rem;
      width: 130px;
    }
    5% {
      width: 130px;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 130px;
    }
    35% {
      top: 0.2rem;
      width: 130px;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 130px;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 130px;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 130px;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 130px;
      text-indent: 0;
    }
  }*/
.mere{
    width: 350px;
    height: 350px;
}

/*          --VALUES---          */
.Values{
    font-family: 'Circular Std';
    color: white;
}
.value{
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.v_resp{
  display: none;
}
.val_dot{
    float: right;
}
.dot{
    height: 5px;
    width: 5px;
    background-color: transparent;
    border: #3E82E5 1px solid;
    border-radius: 50%;
    display: flex;
    margin-top: 5px;
}
.dot:hover{
    background-color: #3E82E5;
}
.value_title{
    font-family: 'Circular Std';
    font-size: 27px;
    font-weight:  bold;
    color: #3E82E5;
    margin-left: 35px;
    margin-bottom: 30px;
}
.v_left{
    padding-top: 70px;
    width: 410px;
}
.Values p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 17px;
}
.v_right{
    margin-left: 70px;
}
.v_left_web{
    flex: 7;
}
.v_right_web{
    flex:4
}
.v_left_desk{
  flex: 4;
  margin-right: 30px;
}
.v_right_desk{
  flex: 3;
}
/*More Mobile*/
.val_plus{
    font-family: 'Circular Std';
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    width: 150px;
    height: 55px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}
.val_plus:hover{
    background-color: white;
    color: black;
}
/*More Web*/
.val_plus_web{
    font-family: 'Circular Std';
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    width: 150px;
    height: 55px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.val_plus_web:hover{
    background-color: white;
    color: black;
}
/*More Dektop*/
.val_plus_desk{
  font-family: 'Circular Std';
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid white;
  width: 150px;
  height: 55px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.val_plus_desk:hover{
  background-color: white;
  color: black;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #3E82E5;
  }
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3E82E5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*      ---AboutMe---      */
.AboutMe{
  font-family: 'Circular Std';
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 170px;
  margin-right: 170px;
  padding: 70px;
  background: rgb(70,65,145);
  background: linear-gradient(90deg, rgba(70,65,145,1) 0%, rgba(49,49,103,1) 35%, rgba(45,89,129,1) 100%);
  border-radius: 5px;
}
.about_img{
  float: right;
  flex: 1;
}
.about_inf{
  flex: 4;
  margin-left: 70px;
  line-height: 0.7;
}
.about_inf a{
  color: #3E82E5;
}
.about_links{
  margin-top: 70px;
}
.about_links img{
  margin-right: 20px;
}


/*    ---RESPONSIVE---    */
@media only screen and (max-width:700px) {
  .Carousel{
    display: block;
  }
  .slide{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  /*Title*/
  .Title{
    margin: 0 auto;
    width: 80%;
    margin-top: -70px;
  }
  .Title img{
    width: 90%;
  }
  .t_btn_contact{
    width : 50%;
    height: 50px;
    margin-top: 20px;
  }

  /*Carousel*/
  .Carousel{
    position: static;
    margin-top: -260px;
    margin-bottom: 690px;
  }

  /*Values*/
  .dot{
    width: 10px;
    height: 10px;
    margin-top: 0;
    margin-left: 10px;
  }
  .val_dot{
    margin-right: 20px;
    display: flex;
  }
  .value{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .value img{
    width: 100%;
  }
  .v_resp{
    display: block;
  }
  .v_resp_web{
    display: none;
  }

  /*      ---AboutMe---      */
  .AboutMe{
    display: block;    
    background-color: #3E82E5;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 15px;
  }
  .myimg{
    width: 140px;
    align-items: center;
    text-align: center;
    margin-top: -80px;
    margin-left: 20px;
  }
  .about_img{
    float: none;
  }
  .about_inf{
    margin-left: 30px;
    line-height: 0.7;
  }
  .about_links{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .about_links img{
    margin-right: 20px;
  }

}