@font-face {
    font-family: 'Circular Std';
    src: url(../res/CIRCULARSTD-MEDIUM.OTF);
}

/*          --TITLE---          */
.Title{
    padding: 70px 0;
    font-family: 'Circular Std';
    height: 400px;
}
.t_btn_contact{
    background-color: #3E82E5;
    color: white;
    width: 230px;
    height: 70px;
    border-radius: 7px;
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border: #3E82E5 1px solid;
    box-shadow: 0;
    transition: box-shadow 0.5s;  
}
.t_btn_contact:hover{
    box-shadow: 2px 2px 70px #3E82E5;
}

/*      ---Carousel---      */

.Carousel{
    display: flex;
}
.slide{
    width: 300px;
    height: 300px;
    background-color: #3E82E5;
    margin-right: 50px;
    padding: 10px;
    border-radius: 5px;
}

.mere{
    width: 350px;
    height: 350px;
}